#home{
    height:100vh;
}
body{
   background-color: #313131;
   font-family: Ubuntu;
   color: white;
   text-align: center;
}
.container-fluid{
  padding: 2% 6%;
}
.navbar-brand{
  font-size: 3rem;
}
.nav-item{
  font-size: 1.3rem;
  padding-left: 3%;
}
.head{
  margin-top: 10%;
  padding:3% 10%;
}
.btn:hover{
  transform: scale(1.1);
}
.btn{
  margin-top: 1.5%;
  padding:1% 6%;
}
.col1{
  font-size: 1.3rem;
  padding: 5%;
}
